.carousel-item{
    height: 350px;
} 
.carousel-item img{
    height: 350px;
}
.choice{
    height: 350px;
    width: 100%;
    /* border: 1px solid red; */
}
.mobile,.car,.laptop,.house{
    height: 100%;
    width : 25%;
    /* border: 1px solid red; */
    float: left;
}
.space{
    height: 20px;
}
#button_products{
    align-items: center;
    text-align: center;
}
