{%load static%}
<footer>
    <div class="contend">
      <div class="sec aboutus">
        <h2>About Us</h2>
        <p>
          We aim to provide the best predictions based on the data given and provide you the best 
          choices according to your data to go with that choices you can buy it from our
          website only by simply clicking on it .
        </p>
      </div>
      <div class="sec quickLinks">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="/home/">Home</a></li>
          <li><a href="/service/">Services</a></li>
          <li><a href="#">Contact Us</a></li>

        </ul>
      </div>
      <div class="sec contact">
        <h2>Contact Info</h2>
        <ul class="info">
          <li>
            <span>🏳</span>
            <span>Chandigarh University <br>
              NH-95, Ludhiana Highway, Gharuan</span>
          </li>
          <li>
            <span> ☎ </span>
            <span>9569931285 - Er. Ayush Mishra <br>
            7737016188 - Er. Rahul Dubey <br>
            8576996920 - Er. Kishan Singh</span>
          </li>
          <li>
            <span> ✉ </span>
            <span>ayush9569931285@gmail.com</span>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <div class="copyrightText">
    <p>Copyright © 2022 Fit Vision. All Rights Reserved.</p>
  </div>